/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//adjust style of mat-table
.mat-cell {
  padding: 16px !important;
  width: 100% !important ;
}

mat-card {
  margin: 16px !important;
}

mat-form-field {
  width: 100% !important;
}

.transparent .mat-dialog-container {
  box-shadow: none !important; //prevent material design from overriding the transparent class, just in case
  background: rgba(0, 0, 0, 0.0) !important; //prevent material design from overriding the transparent class, just in case
}

.dialog-layout {
  display: flex !important;
  flex-direction: column;
  gap: 32px;
}

::-webkit-scrollbar {
  width: 8px; //for vertical scrollbars
  height: 8px; //for horizontal scrollbars
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat-color(mat-palette($mat-purple), 700);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat-color(mat-palette($mat-purple), 500);
}
