<table mat-table [dataSource]="decisionParameters">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" >{{ ethersService.shareActions[element.index] }}</td>
  </ng-container>

  <ng-container matColumnDef="isDefault">
    <th mat-header-cell *matHeaderCellDef> Uses Default </th>
    <td mat-cell *matCellDef="let element" >{{ element.isDefault ? "yes" : "no" }}</td>
  </ng-container>

  <ng-container matColumnDef="decisionTime">
    <th mat-header-cell *matHeaderCellDef> Decision Time </th>
    <td mat-cell *matCellDef="let element" >{{ formatSeconds(element.decisionTime) }}</td>
  </ng-container>

  <ng-container matColumnDef="executionTime">
    <th mat-header-cell *matHeaderCellDef> Execution Time </th>
    <td mat-cell *matCellDef="let element" >{{ formatSeconds(element.executionTime) }}</td>
  </ng-container>

  <ng-container matColumnDef="quorum">
    <th mat-header-cell *matHeaderCellDef> Quorum </th>
    <td mat-cell *matCellDef="let element" >{{ element.quorumNumerator + '/' + element.quorumDenominator }}</td>
  </ng-container>

  <ng-container matColumnDef="majority">
    <th mat-header-cell *matHeaderCellDef> Majority </th>
    <td mat-cell *matCellDef="let element" >{{ element.majorityNumerator + '/' + element.majorityDenominator }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="horizontal">
        <button
        *ngIf="isValidAction"
        mat-raised-button color="accent"
        (click)="openChangeDecisionParametersDialog(element)"
        >
        change
        </button>
        <button
        *ngIf="element.index == 0; else setDefault"
        mat-raised-button color="primary"
        (click)="toggleShowDefault()"
        >
        {{ isHideDefault ? "show default" : "hide default" }}
        </button>
        <ng-template #setDefault>
        <button
            *ngIf="!element.isDefault && isValidAction && (element.index > 0)"
            mat-raised-button color="accent"
        >
            set default
        </button>
        &nbsp; <!-- otherwise the styling of the table row is messed up -->
        </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="actionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: actionColumns;"></tr>
</table>