<div class="mat-body">
  <h1 mat-dialog-title>Create a New Share</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Symbol</mat-label>
      <input matInput [(ngModel)]="data.symbol">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of Shares</mat-label>
      <input matInput [(ngModel)]="data.numberOfShares">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Exchange Address</mat-label>
      <input matInput [(ngModel)]="data.exchangeAddress">
    </mat-form-field>
    <h3>Default Decision Parameters</h3>
    <mat-form-field>
      <mat-label>Default Decision Time (in seconds)</mat-label>
      <input matInput [(ngModel)]="data.decisionTime">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Default Execution Time (in seconds)</mat-label>
      <input matInput [(ngModel)]="data.executionTime">
    </mat-form-field>
    <div class="horizontal">
      <mat-form-field>
        <mat-label>Quorum Numerator</mat-label>
        <input matInput [(ngModel)]="data.quorumNumerator">
      </mat-form-field>
      /
      <mat-form-field>
        <mat-label>Quorum Denominator</mat-label>
        <input matInput [(ngModel)]="data.quorumDenominator">
      </mat-form-field>
    </div>
    <div class="horizontal">
      <mat-form-field>
        <mat-label>Majority Numerator</mat-label>
        <input matInput [(ngModel)]="data.majorityNumerator">
      </mat-form-field>
      /
      <mat-form-field>
        <mat-label>Majority Denominator</mat-label>
        <input matInput [(ngModel)]="data.majorityDenominator">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onCreate()">create</button>
    <button mat-raised-button (click)="onCancel()">cancel</button>
  </div>
</div>